{
  "extends": "mailonline",
  "rules": {
    "max-nested-callbacks": ["error", 10],
    "no-shadow": "off",
    "max-len": "off",
    "id-match": "off",
    "sort-vars": "off",
    "sort-keys": "off",
    "global-require": "off",
    "no-undefined": "off",
    "callback-return": "off",
    "func-style": "off",
    "init-declarations": "off",
    "arrow-body-style": "off",
    "no-console": "off",
    "prefer-const": "off",
    "brace-style": "off",
    "no-param-reassign": "off",
    "prefer-rest-params": "off",
    "object-property-newline": "off",
    "line-comment-position": "off",
    "no-inline-comments": "off",
    "id-length": "off",
    "complexity": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "no-use-before-define": "off",
    "consistent-this": "off",
    "max-statements-per-line": "off",
    "func-name-matching": "off",
    "import/unambiguous": "off",
    "import/no-commonjs": "off",
    "import/no-unassigned-import": "off",
    "import/max-dependencies": "off",
    "promise/prefer-await-to-then": "off",
    "promise/prefer-await-to-callbacks": "off",
    "babel/object-shorthand": "off",
    "mocha/no-hooks-for-single-case": "off",
    "mocha/no-identical-title": "off",
    "jsdoc/require-description-complete-sentence": "off",
    "jsdoc/newline-after-description": "off",
    "jsdoc/check-tag-names": "off",
    "jsdoc/check-types": "off",
    "jsdoc/check-param-names": "off"
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "assert": true,
    "sinon": true,
    "videojs": true,
    "ActiveXObject": true
  }
}