sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_install:
  - npm i -g npm@^3.10.3
before_script:
  - npm prune
after_success:
  - npm run semantic-release
  - npm run deploy-demo
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
