div.VPAID-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

div.vjs-vpaid-ad div.vjs-progress-control,
div.vjs-vpaid-ad div.vjs-time-controls,
div.vjs-vpaid-ad div.vjs-time-divider,
div.vjs-vpaid-ad div.vjs-play-control{
  display: none;
}