---
<% if(isDefault) { %> redirect_from: "index.html" <% } %>
---
<!DOCTYPE html>
<!--[if lte IE 9]><html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>videojs-vast-vpaid plugin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <!-- VideoJs required styles-->
    <link rel="stylesheet" type="text/css" href="demo/videojs_<%= version %>/video-js.css"/>

    <!-- VideoJs.vast.vpaid required styles-->
    <link rel="stylesheet" type="text/css" href="styles/videojs.vast.vpaid.css"/>

    <!-- DEMO required styles-->
    <link rel="stylesheet" type="text/css" href="demo/styles/demo.css"/>

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


    <script type="text/javascript">
        // this is mandatory for IE8 !!!!!
        document.createElement('video');
        document.createElement('audio');
        document.createElement('track');
    </script>

    <!-- VideoJs required scripts-->
    <script type="text/javascript" src="demo/videojs_<%= version %>/video.js"></script>

    <!-- VideoJs.vast.vpaid required scripts-->
    <script type="text/javascript" src="scripts/es5-shim.js"></script>
    <script type="text/javascript" src="scripts/ie8fix.js"></script>
    <script type="text/javascript" src="scripts/videojs_<%= version %>.vast.vpaid.js"></script>

    <!-- DEMO required scripts -->
    <script type="text/javascript" src="demo/scripts/demo.js"></script>

</head>
<body>
    <h3 class="title main">videojs-vast-vpaid plugin </h3>
    <div class="container">
        <div class="row">
            <h4>VideoJs <%=version%> Demo</h4>
            <div class="twelve columns">
                <div class="vast-container">
                    <form id="vast-vpaid-form">
                        <div class="row">
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="tag-type-radio" id="vast-tag-radio">
                                <label for="vast-tag-radio">VAST/VPAID tag</label>
                            </div>
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="xml-type-radio" checked="checked" id="vast-sample-radio">
                                <label for="vast-sample-radio">VAST/VPAID sample tags</label>
                            </div>
                            <div class="one-third column">
                                <input type="radio" name="vast-type" class="custom-type-radio" id="vast-custom-radio">
                                <label for="vast-custom-radio">VAST/VPAID custom XML</label>
                            </div>
                        </div>
                        <div class="row tag-type">
                            <div class="twelve columns">
                                <label for="vast-tag">VAST Tag</label>
                                <input id="vast-tag" type="text" name="vast-type" class="u-full-width tag-el">
                            </div>
                        </div>
                        <div class="row xml-type">
                            <div class="twelve columns">
                                <label for="vast-samples">VAST/VPAID sample tags</label>
                                <select id="vast-samples" class="u-full-width xml-el">
                                    <% demoAds.forEach( function ( demoAd, index ) { %>
                                    <option <% if(index===0) {%>selected="selected"<% } %> value="<%= demoAd.url %>"><%= demoAd.label %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="row custom-type">
                            <div class="twelve columns">
                                <textarea class="u-full-width custom-el" placeholder="Sample VAST XMl"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <a class="button button-primary" href="#">Update</a>
                                <a class="button button-info pause" style="display:none;" href="#">Pause Ad</a>
                                <a class="button button-info resume" style="display:none;" href="#">Resume Ad</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <div class="vjs-video-container">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            Some ad's will throw "VAST Error: on VASTClient.requestVastXML, HTTP request error with status '-1'", because that adServer is not setting the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS">http access control header</a>, the reason why some video player's are able to play the ad's in firefox because they do the request by flash bypassing the browser
        </div>
        <br/>
        <div class="row">
            <h4> Other Versions </h4>
            <% otherVersions.forEach( function ( ov ) { %>
                <p><a href='index_<%=ov%>.html'>Video.Js <%=ov%> DEMO</a></p>
            <% }); %>
        </div>
    </div>
</body>

</html>
